@media screen and (max-width: 992px){

    

    .top {
        width: 100%;
        margin-top: 40px;
    }

    .logo {
        margin-left: 40px;
        width: 140px;
    }

    .nav {
        float: right;
        width: 392px;
        display: flex;
        justify-content: space-around;
        margin-right: 64px;
        margin-top: -12px;
        color: white;
        font-weight: 700;

     }

     .nav p {
         font-size: 24px;
     }

     .image{
        width: 100%;
        margin-top: 40px;
    }
    .image p{
        font-size: 14px;
    }
    .image img{
        width: 66%;
    }

    .txt{
        font-size: 13px;
    }

    .btn {
        font-size: 24px;
        width: 30%;
        height: 58px;
        margin: 0 auto;
        text-align: center;
    }
    .GS{
        margin-top: 15px;
    }

    .for{

        display: flex;
        flex-direction: row;
        width: 95%;
        margin-top: 150px;
    }

    .two{
        text-align: center;
        display: block;
        width: 100%;
        margin: 0;
    }

    .anywhere , .security , .collaboration ,.store{
        margin-bottom: 150px;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .two1{
       
         display: block;
         width: 100%;
         text-align: center;
         margin: 0;
    }

    .img1 ,.img3 ,.img4,.img{

        width: 18%;
        margin: 0;      
     }

    .img4{
        width: 26%;
        padding-top: 1rem;

    }
    .prod p{
        margin: 0;
    }
    .prod h1{
        margin: 0;
    }
    .prod{
        text-align: center;
        font-size: 13px;
    }
    .bottom {
       width: 96%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 70px;
    }
   .imageb {

      margin-right: 12px;
      margin-left: 60px;
      width: 74%;
      text-align: center;

    }
   .imageb img{

      width: 100%;
      margin: 0;

    }
   .access{

      margin-left: 32px;

    }
   .footer {

     width: 95%;
     padding-left: 22px;

    }
   .trois {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 16px;
    margin-right: 17px;

    }
    .satish,.bruce,.iva {

    padding: 20px;
    border-radius: 5px;

    }
    .tkh {

    width: 40%;
    margin-left: 0;

    }
    .tkh img {

    width: 25%;

    }
    .location {

    width: 100%;
    display: flex;

    }

    .tkh2 {

    display: block;
    width: 24%;
    margin-right: 10px;

     }  
   .inf {

    margin-right: 8px;
    width: 15%;

     } 
    .tkh2 {

    display: block;
    width: 76%;

    }

    .social {

    width: 26%;
    margin-top: 60px;
 
    }
    .inf2 {

     margin-left: 0; 

    }
}

@media screen and (max-width: 592px){

body{
    width: 375px;
}
    .top {
        width: 100%;
        margin-top: 72px;
        padding: 0rem -1rem 3rem 1rem;
        margin-bottom: 72px;
    }
    .for{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 150px;
    }
    .btn {
    font-size: 24px;
    width: 30%;
    height: 58px;
    margin-left: 437px;
    text-align: center;
          }

    .logo {
        margin-left: 40px;
        width: 21rem;
    }

    .nav {
        float: right;
        width: 579px;
        display: flex;
        margin-right: 62px;
        margin-top: -35px;
        color: white;
        justify-content: space-between;
       
    }



    .nav p {
        font-size: 50px;
    }
    .image p{
        font-size: 28px;
    }
        .txt{
        font-size: 28px;
    }
    .image p{
        font-size: 24px;
    }
    .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 100px; */
}
.imageb {
   
    width: 100%;
    margin: 0;
}
.imageb img{

    width: 100%;
    margin-left: 50px;

}
.prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: initial;
    width: 100%;
    margin-top: 84px;
}
.stay1{
    font-size: 28px;
    align-self: flex-start;

}
.stay{
    margin-left: 100px;
    color: white;
    align-self: flex-start;

}
.access {

    display: flex;
    flex-direction: column;
    height: 22rem;
    width: 455px;
    margin-left: 14px;

}
.oo{
    
    display: flex;
    flex-direction: column;
    width: 100%;

}
.email{
    width: 100%;
}
#email {
    width: 68%;
    border-radius: 51PX;
    BORDER: NONE;
    HEIGHT: 1.5rem;
    padding: 1rem;
}



}