
@media (min-width: 768px){
    .all{
        background-image: url("images/bg-curvy-desktop.svg");
    }

    .for{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        }

    .items{
        text-align: center;
        margin-bottom: 5em;
        max-width: 400px;
        }

    .reflexion-con{
        flex-direction: row;
        justify-content: space-between;
        gap:20px;
    }
    .reflexion{
        
        width: 88%;
    }

    .comment{
        flex: 0 0 32%;
        margin: 1em 0;
        padding: 1.5em;
        border-radius: 10px;
    }

    .search{
        flex-direction: row;
    }

    .footer-display{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 3em 0;
    }

    .search input{
        flex: 1 1 60%;
    }

    .button-access{
        flex: 1 1 20%;
    }

    .contact-item{
        margin: 0;
    }



    .contact{
        flex: 0 0 25%;      
    }

    .footer-display > ul{
        flex: 0 0 10%;      
    }



    .social-media{
        display: flex;
        justify-content: flex-end;
        flex: 0 0 10%;
    }

    .contact-item{
        margin: 0;
    }

    footer ul{
        margin: 0;
    }


    .social-media{
        align-self: flex-start;
    }
    .footer-display p{
    display: flex;
    margin: 0;
    width: 75%;
}
}