body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: hsl(218, 28%, 13%);
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2, header, .all{
    
    margin-bottom: 0;
}

h1{
    font-size: 26px;
}

h2{
    font-size: 13px;
}

img{
    max-width: 100%;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
}

header{
    padding: 2em 0;
}

.header-con{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    max-width: 200px;
}

.logo-top{
    width: 20%;
}

nav{
    width: 60%;
    max-width: 300px;
}

.header-con ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-con li{
    text-align: center;
}

.header-con ul a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    transition: color 150ms ease-in;
}

.header-con ul a:hover{
    color: hsl(250deg 100% 65%);
}

