body{
    background-color:hsl(218, 28%, 13%);
    width: auto;
    height:auto ;
    font-family: 'Raleway', sans-serif;
    margin: 0;  
}
.top{
    margin-top: 30px;
}
.logo{
    margin-left: 40px;
    margin-top: 12px;
}
.nav{
    float: right;
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    color: white;
}
.image{
    background-image: url(/images/bg-curvy-desktop.svg);
    text-align: center;
    color: white;
    margin-right: 51px;
}
.btn{
    width: 15%;
    height: 40px;
    background-color: darkcyan;
    margin-left: 500px;
    border-radius: 30px;
    text-align: center;
}
.GS{ padding-top: 12px;
    color: white;
}
.for{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 21px;
}
.two{
display: flex;
margin-top: 12px;
justify-content: space-between;
width: 80%;
}
.two1{
    
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    width: 80%;
    margin-top: 35px;
}
.txt{
    text-align: center;
    color: white;
    font-size: 12px;
}
.img{
    margin-left: 112px;
}
.img1{
    margin-left: 125px;
}
.img3{
    margin-left: 125px;
}
.img4{
    margin-left: 97px;

}
.anywhere{
    margin-top: 12px;
    margin-left: 200px;
    margin-right: 104px;
}
.security{
    margin-left: 70px;
}
.collaboration{
    margin-left: 180px;
    margin-right: 70px;
}
.store{
    margin-left: 70px;
}
.bottom{
    display: flex;
    margin-top: 100px;
}
.imageb{
    margin-left: 80px;
}
.prod{
    width: 700px;
}
.stay{
    margin-top: 120px;
    margin-left: 100px;
    color: white;
   
}
.stay1{
    margin-left: 100px;
    color: white;
}
.trois{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 150px;
}
.satish{
    padding: 20px;
    background-color: rgb(12, 0, 31);
    margin-left: 20px;
}
.bruce{
    padding: 20px;
    background-color: rgb(12, 0, 31);
}
.iva{
    padding: 20px;
    background-color: rgb(12, 0, 31);
}
.prfl{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.org{
    display: flex;
    margin-top: 30px;
    
}

.org1{
    margin-top: -20px;
    margin-left: 20px;
    display: block;
}
.desc{
   color: white;
}
.access{
    width: 700PX;
   margin-left: 300px;
   background-color: blanchedalmond;
   text-align: center;
   height: 11rem;
  background-color :hsl(217, 27%, 19%);
}
.oo{
    display: flex;
    justify-content: space-around;
}

#email {
    width: 150%;
    border-radius: 51PX;
    BORDER: NONE;
    HEIGHT: 0.5rem;
    padding: 1rem;
}

.btn2{
    background-color: darkcyan;
    width: 30%;
    border-radius: 51PX;
    BORDER: NONE;
    height: 2.5rem;
    color: white;
}
.color{
    color: white;
}
.footer{
    background-color: rgb(10, 0, 27);
    display: flex;
    padding: 1rem;
    width: 99%;
}
.location{
    width: 30%;
    display: flex;
}
.iconl{
height: 20%;
margin-top: 25px;
margin-right: 20px;
}
.phone{

    display: flex;
}
.iconp{
    height: 20%;
    margin-top: 25px;
    margin-right: 20px;
}
.gmail{
    display: flex;
}
.msg{
    height: 20%;
    margin-top: 25px;
    margin-right: 20px;
}
.tkh{
    display: block;
    margin-left: 70px;
}
.tkh2{
    display: block;
    margin-left: -600px;
}
.inf{
    margin-left: 70px;
    height: 50%;
}
.inf{
    margin-left: 170px;
    height: 50%;
}
.inf2{
    margin-left: 140px;
}
.ft{
    color: white;
}
.social{
    margin-top: 20px;
    margin-left: 50px;
}
.fab {
        color: white;
        border: white;
        border-style: inset;
        padding: 9px 11px 9px 12px;
        border-radius: 50%;
}